.App {
	width: 100vw;
	height: 100vw;
}
.main {
	width: 100vw;
	height: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	margin-bottom: 50%;
	box-shadow: 14px 16px 37px white;
}
.bg {
	background-color: black;
}
.bg1 {
	background-color: rgba(0, 0, 0, 0.449);
}
.bg2 {
	background-color: rgb(16, 5, 45);
}
.bg3 {
	background-color: rgba(89, 4, 4, 0.204);
}
